[submodule "Modules/Blog"]
	path = Modules/Blog
	url = https://github.com/24lyhour/Blog.git
[submodule "Modules/Company"]
	path = Modules/Company
	url = https://github.com/24lyhour/Company.git
[submodule "Modules/Customer"]
	path = Modules/Customer
	url = https://github.com/24lyhour/Customer.git
[submodule "Modules/Hotel"]
	path = Modules/Hotel
	url = https://github.com/24lyhour/Hotel.git
[submodule "Modules/Movice"]
	path = Modules/Movice
	url = https://github.com/24lyhour/Movice.git
[submodule "Modules/Order"]
	path = Modules/Order
	url = https://github.com/24lyhour/universe-modules-Order.git
[submodule "Modules/Payment"]
	path = Modules/Payment
	url = https://github.com/24lyhour/Payment.git
[submodule "Modules/Porfolio"]
	path = Modules/Porfolio
	url = https://github.com/24lyhour/Porfolio.git
[submodule "Modules/Menu"]
	path = Modules/Menu
	url = https://github.com/24lyhour/universe-modules-Menu.git
