[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"

[build.args]
GITHUB_TOKEN = "${{GITHUB_TOKEN}}"

[deploy]
startCommand = "php artisan serve --host=0.0.0.0 --port=$PORT"
healthcheckPath = "/"
healthcheckTimeout = 100
